<% title = 'Hello, world' %>

<% first_message = "ask your matter!" %>
<% copyright = "Copyright(C) 2012. Almond Choco Project(仮)" %>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('<%= url %>');
  socket.on('news', function (data) {
    alert(data.hello);
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>

<h2><%= msg %></h2>

<%= copyright %>
